/* Main content container */
.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column; /* Adjusted for mobile responsiveness */
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 2rem;
}

/* Footer */
.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Image */
.image {
  max-width: 100%; /* Adjusted for responsiveness */
  height: auto; /* Maintain aspect ratio */
  margin-top: 2rem; /* Added spacing from the top */
}

/* Input */
.input {
  width: 100%; /* Adjusted for responsiveness */
  padding: 1rem;
  margin-bottom: 1rem; /* Slight adjustment for spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Title */
.title {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center; /* Center align for better readability */
}

/* Description */
.description {
  font-size: 1.1rem; /* Slightly adjusted for better readability */
  line-height: 1.5;
  text-align: center; /* Center align for better readability */
  margin-bottom: 2rem; /* Slight adjustment for spacing */
}

/* Button */
.button {
  border-radius: 4px;
  background-color: #007BFF; /* Changed to a more consistent color */
  border: none;
  color: #ffffff;
  font-size: 1rem; /* Adjusted for better readability */
  padding: 0.5rem 1rem; /* Improved padding for the button */
  width: auto; /* Let the button adjust its width based on content */
  cursor: pointer;
  margin-top: 1rem; /* Added spacing from the top */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  .main {
    padding: 1rem; /* Adjusted padding for better spacing on smaller screens */
  }
}
