/* Main content container */
.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column; /* Adjusted for mobile responsiveness */
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; /* Fancy font */
  padding: 2rem;
  background-color: #000000; /* Light background color */
  background-image: url('/bg.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; /* Fancy font */
  background-color: #000000; /* Light background color */
}

/* Image */
.image {
  max-width: 100%; /* Adjusted for responsiveness */
  height: auto; /* Maintain aspect ratio */
  margin-top: 2rem; /* Added spacing from the top */
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Input */
.input {
  width: 100%; /* Adjusted for responsiveness */
  padding: 1.5rem; /* Increased padding for a more substantial look */
  margin-bottom: 1.5rem; /* Slight adjustment for spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem; /* Slightly increased font size */
  color: #333; /* Darker text color */
}

/* Title */
.title {
  font-size: 3rem; /* Larger title */
  margin: 2rem 0;
  text-align: center; /* Center align for better readability */
  color: #333; /* Darker title color */
}

/* Description */
.description {
  font-size: 1.3rem; /* Increased font size */
  line-height: 1.6;
  text-align: center; /* Center align for better readability */
  color: #555; /* Slightly darker text color */
  max-width: 80%; /* Limit the width for better readability */
  margin-bottom: 2rem; /* Slight adjustment for spacing */
}

/* Button */
.button {
  border-radius: 4px;
  background-color: #007BFF; /* Changed to a more consistent color */
  border: none;
  color: #ffffff;
  font-size: 1.2rem; /* Increased font size */
  padding: 1rem 2rem; /* Improved padding for the button */
  cursor: pointer;
  margin-top: 1.5rem; /* Added spacing from the top */
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
